body {
	max-width:800px;
	margin:40px auto;
	padding:0 10px;
	font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color:#444;
}
h1,h2,h3 {
	line-height:1.1;
}
.code {
	font-family: monospace;
}
.codeblock {
	font-family: monospace;
	display: block;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 6px 20px;
}
table {
	border-collapse: collapse;
}
th, td {
	text-align: left;
	border-bottom: 1px solid #ccc;
}
.bits {
	margin: 10px;
}
.bit {
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	width: 3em;
	font-weight: bold;
}
.bitfield1 {
	font-weight: normal;
	font-style: italic;
}
.bitfield2 {
	width: 6em;
	font-weight: normal;
	font-style: italic;
}
.bitfield3 {
	width: 9em;
	font-weight: normal;
	font-style: italic;
}
.bitfield4 {
	width: 12em;
	font-weight: normal;
	font-style: italic;
}
.bitfield6 {
	width: 18em;
	font-weight: normal;
	font-style: italic;
}
.bit_const {
	font-weight: bold;
}
@media (prefers-color-scheme: dark) {
	body {
		color:#eee;
		background:#333;
	}
	a:link {
		color:#5bf;
	}
	a:visited {
		color:#ccf;
	}
	.codeblock {
		background:#444;
	}
	.bit {
		border-color:#999;
	}
}